*{
    margin: 0;
    padding: 0;
    background-color: black;

}
.home-logo-1{
    height: 40px;
    width: 40px;
    padding: 20px 30px;
    padding-bottom: 10px;
}

.home-icon-1{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin: 10px 10px;
    margin-bottom: 3px;

}
.home-icon{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: 10px;
    margin-right: 2px;
    background-color: #645f5f;
}
.blankspace{
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0;
    padding-bottom: 5px;
    position: fixed;
    z-index: 1;

}
.searchbar{
    display: flex;


    .input1{
        display: inline-block;
        width: 380px;
        height: 50px;
        margin: 10px;
        color: white;
        padding-left: 15px;
        font-size: 13px;
        background-color: rgb(67, 65, 65);
        border-radius: 35px;
        border: none;
        box-shadow: none;

        }
}
/* .searchpanal i{
    display: block;
    height: 30px;
    width: 30px;
    color: #ffffff;
    background-color: rgb(67, 65, 65);

    position: absolute; 
} */
.loginsec{
    display: flex;
}

.signup{
    color: rgb(136, 135, 135);
    padding: 10px;
    margin: 10px;
}
.signup:hover{
    color: #ffffff;
    font-size: larger;
}
.login{
    background-color: white;
    color: black;
    height: 50px;
    width: 110px;
    margin: 10px;
    border-width: 0;
    border-radius: 35px;
    font-weight: bolder;
}

.main-box{
    display: flex;
    align-items: flex-start;
    width: 100%;
    position: absolute;
    top: 89px;
    z-index: 0;
    .library1{
        background-color: #121212;
        border-radius: 10px;
        height: 640px;
        position: fixed;
        top: 89px;
        width: 24%;
        margin: 0px 8px 0 10px;
        z-index: 1;
        #top1{
            color: #645f5f;
            margin-top: 20px;
            background-color: #121212;
            display: flex;
            justify-content: space-between;
            flex-direction: row;

        }
        .topimg{
            height: 50px;
            width: 50px;
        }
        .top{
            color: #a59f9f;
            position: absolute;
            top: 32px;
            left: 55px;
            background-color: #121212;

        }
        .top:hover{
            color: #ffffff;
        }
        #lib{
            display: flex;
        }
        button{
            height: 30px;
            width: 30px;
            border-radius: 100%;
            margin: 9px;
            background-color: #121212;
            border-width: 0;  
        }
        #cross{
            height: 30px;
            width: 30px;
            border-radius: 100%;
        }
        .create{
            height: auto;
            width: 94%;
            background-color: rgb(67, 65, 65);
            margin: 10px;
            border-radius: 15px 15px 15px 15px;
        }
        .create p{
            height: auto;
            width: 89%;
            padding: 15px;
            padding-bottom: 5px;
            font-size: large;
            font-weight: bold;
            color: #ffffff;
            background-color: rgb(67, 65, 65);
            border-radius: 15px;
        }
        .create h5{
            height: auto;
            width: 89%;
            margin: 10px;
            margin-left: 15px;
            margin-bottom: 5px;
            color: #a59f9f;
            background-color: rgb(67, 65, 65);
        }
        .browse{
            height: 30px;
            width: 130px;
            border-radius: 30px;
            color: #000;
            font-weight: bold;
            margin:  20px 10px;
            background-color: #ffffff;
        }
        #last{
            height: auto;
            width: 110px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 25px;
            border-width: 2px;
            color: #ffffff;
            padding-top: 10px;
            border-color: #ffffff;
            background-color: #000;
            padding: 2px;
        }
        #last img{
            height: 30px;
            width: 30px;
        }
        .footer123{
            height: 150px;
            width: 91%;
            color: #afa7a7;
            background-color: #121212;
            text-spacing-trim: space-all;
            margin-left: 20px;
        }
        .footer123 p{
            margin: 20px;
            background-color: #121212;
            width: max-content;
        }
        .f{
            font-size: 20px;
            font-weight: bolder;
            background-color: #121212;
            margin: 0;
        }


    }
    .musicsec{
        background-color: rgb(58, 55, 55);
        height: 1600px;
        position: sticky;
        width: 80%;
        margin-right: 10px;
        margin-left: 25%;
        border-radius: 10px;
        z-index: 0;
        h2{
            color: #ffffff;
            z-index: 1;
            position: relative;
            width: 250px;
            background-color: rgb(58, 55, 55);
            margin: 30px 20px;
            margin-bottom: 10px;
        }
        .neha1{
            border-radius: 100%;
            height: 150px;
            width: 150px;
            margin-top: 10px;
            box-shadow: 0px 0px 9px 1px rgb(43 31 31);

        }
        .neha{
            border-radius: 100%;
            height: 150px;
            width: 150px;
            margin-top: 10px;
            box-shadow: 0px 0px 9px 1px rgb(43 31 31);
        }
        .neha2{
            border-radius: 100%;
            height: 150px;
            width: 150px;
            margin-right: 20px;
            margin-top: 10px;
            box-shadow: 0px 0px 9px 1px rgb(43 31 31);

        }
        .actorsimg{
            background-color: rgb(58, 55, 55);
            display: flex;
            justify-content: space-between;
            margin: 20px;

        }
        .actorsimg div{
            height: 230px;
        }
        .fixeddiv{
            background-color: rgb(58, 55, 55);

        }
    }
}
.actorsimg div{
    background-color: rgb(58, 55, 55);
}
.actorsimg h3{
    background-color:  rgb(58, 55, 55);
    color: rgb(247, 247, 247);
    width: 150px;
}
.h41{
    background-color:  rgb(58, 55, 55);
    color: rgb(252, 252, 252);
}
.h42{
    background-color:  rgb(58, 55, 55);
    color: rgb(255, 255, 255);
}
.h52{
    background-color:  rgb(58, 55, 55);
    color: aliceblue;
}
.actorsimg h5{
    background-color:  rgb(58, 55, 55);
    color: aliceblue;
}
.h51{
    background-color:  rgb(58, 55, 55);
    color: aliceblue;
}
/* popular albums */
.playlistimg {
    display: flex;
    background-color: rgb(58, 55, 55);
    justify-content: space-between;
    margin: 20px;
    .playlist1 {
        border-radius: 2px;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);
        background-color: rgb(58, 55, 55);

    }

    .playlist {
        border-radius: 2px;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);
    }

    .playlist2 {
        height: 150px;
        width: 150px;
        margin-right: 20px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);

    }

    .playlistimg {
        background-color: rgb(58, 55, 55);
        display: flex;
        justify-content: space-between;
        margin: 20px;

    }
}
.playlistimg div{
    height: 230px;
    background-color: rgb(58, 55, 55);
}
/* font data */
.playlistimg h3 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;
}

.h41 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;
}

.h42 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}

.h52 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}

.playlistimg h5{
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}

.h51 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}
/* popular radio */
.radio{
    display: flex;
    background-color: rgb(58, 55, 55);
    justify-content: space-between;
    margin: 20px;
    .playlist1 {
        border-radius: 2px;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);
        background-color: rgb(58, 55, 55);

    }

    .playlist {
        border-radius: 2px;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);
    }

    .playlist2 {
        height: 150px;
        width: 150px;
        margin-right: 20px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);

    }

    .radio {
        background-color: rgb(58, 55, 55);
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
}    
.radio div{
    height: 230px;
    background-color: rgb(58, 55, 55);
}
/* font data */
.h52 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}
.radio h5{
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}
.h51 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}
/* Featured Chart */
.chart{
    display: flex;
    background-color: rgb(58, 55, 55);
    justify-content: space-between;
    margin: 20px;
    .playlist1 {
        border-radius: 2px;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);
        background-color: rgb(58, 55, 55);

    }

    .playlist {
        border-radius: 2px;
        height: 150px;
        width: 150px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);
    }

    .playlist2 {
        height: 150px;
        width: 150px;
        margin-right: 20px;
        margin-top: 10px;
        box-shadow: 0px 0px 9px 1px rgb(43 31 31);

    }

    .chart {
        background-color: rgb(58, 55, 55);
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
}    
.chart div{
    height: 230px;
    background-color: rgb(58, 55, 55);
}
/* font data */
.h52 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}
.chart h5{
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}
.h51 {
    background-color: rgb(58, 55, 55);
    color: aliceblue;
    width: 150px;

}


/* footer Part */

.footersec h3{
    color: #ffffff;
    font-size: medium; 
    background-color: rgb(58, 55, 55);
    margin-bottom: 5px;
  
}
.footersec{
    display: flex;
    flex-direction: row;
    background-color: rgb(58, 55, 55);

}
/* .part1 img{
    height: 35px;
    width: 35px;
    flex-direction: row;
    background-color: rgb(58, 55, 55);
} */
.footersec1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(58, 55, 55);

    .part{
        width: 170px;
        margin: 20px;
        background-color: rgb(58, 55, 55);
    
    }
}
.footersec1 h5{
    color: rgb(181, 168, 168);
    background-color: rgb(58, 55, 55);
    margin-bottom: 5px;

}
.footer{
    background-color: rgb(58, 55, 55);
    color: #ffffff;
    margin: 40px;

}
hr{
    opacity: 40%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
}
